* {
  font-family: "Fredoka", sans-serif;
}
.animate {
  animation: pop 1s ease forwards;
}
.home {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/e684d28d15c0cd42069bec09ea7d2a95.jpg);
  color: white;
}
.container p{
  color: #01355a;
}
/* @keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
} */
a {
  text-decoration: none;
  color: #002f51;
  padding: 10px 22px;
  border-radius: 3px;
  outline: #00549d 2px solid;
  transition: all 0.5s;
  width: fit-content;
}
a:hover {
  color: white;
  background: #003258;
  outline: #020074  2px solid;
}
.h-90 {
  height: 92.5%;
}
nav{
  z-index: 66;

}
section {
  overflow-y: hidden;
}
.layer {
  min-height: 100vh;
  width: 100%;
  background-color: #0000008f;
  z-index: 2;
}
.title{
  position: relative;
  z-index: 99;
}

